@model BD_26.Models.Hospital_Request

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Staff_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospital_Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.commissary_ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commissary_ssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commissary_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commissary_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bloodtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloodtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permission_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permission_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospital.Hospital_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Hospital_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
