@model BD_26.Models.Donation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bloodtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloodtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDonationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDonationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donor.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor.Fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Donation_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
